[Unit]
Description=Shibboleth 3.1.0 Service Provider Daemon
Documentation=man:shibd(8)
Documentation=https://wiki.shibboleth.net/confluence/display/SP3/Home
After=network.target
Before=httpd.service

[Service]
Type=notify
NotifyAccess=main
User=root
Environment=LD_LIBRARY_PATH=/opt/shibboleth-sp/lib
Environment=SHIB_HOME=/opt/shibboleth-sp/sbin
Environment=SHIB_LOG_DIR=/opt/shibboleth-sp/var/log/shibboleth

Environment=SHIBSP_CONFIG=/opt/shibboleth-sp/etc/shibboleth/shibboleth2.xml
Environment=NAME=shibd

Environment=PIDFILE=/var/run/shibboleth/$NAME.pid


Environment=SHIBSP_SCHEMAS=/opt/shibboleth-sp/share/xml/xmltooling/catalog.xml
Environment=SHIBSP_SCHEMAS=$SHIBSP_SCHEMAS:/opt/shibboleth-sp/share/xml/shibboleth/catalog.xml
Environment=SHIBSP_SCHEMAS=$SHIBSP_SCHEMAS:/opt/shibboleth-sp/share/xml/opensaml/saml20-catalog.xml:/opt/shibboleth-sp/share/xml/opensaml/saml11-catalog.xml
Environment=SHIBSP_SCHEMAS=$SHIBSP_SCHEMAS:/opt/shibboleth-sp/share/xml/opensaml/saml11-catalog.xml

ExecStart=shibd -f -F -c $SHIBSP_CONFIG -p $PIDFILE -w 30 -x $SHIBSP_SCHEMAS
StandardInput=null
#StandardOutput=null
#StandardError=journal
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=shibdsp310
TimeoutStopSec=1min
TimeoutStartSec=5min
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target

